
.cropperCard .imgCropperParentDiv{
    position: absolute !important;
    top: 45% !important;
    left: 50% !important;
    transform: translate(-50% , -50%) !important;
    width:85% !important;
    height:85% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1000 !important;
    background-color:#000 !important;
}

.cropperCard .cancel{
    position: absolute;
    bottom: 0 !important;
    margin: 20px;
}
.cropperClass{
    width: 300px !important;
    height: 300px !important;
}