.custom-shape-divider-top-1620236236 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1620236236 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 310px;
}

.custom-shape-divider-top-1620236236 .shape-fill {
  fill: #172B4D;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1620236236 svg {
      width: calc(126% + 1.3px);
      height: 229px;
  }
}